/* use Delphix blue in the header */
:root {
    /* Primary color shades */
    --md-primary-fg-color:               #1381D7;
    --md-primary-fg-color--light:        #1381D7;
    --md-primary-fg-color--dark:         #1381D7;
    --md-primary-bg-color:               #FFFFFF;
    --md-primary-bg-color--light:        #B9D0E3;
  }

  /* enlarge the Delphix logo on the desktop site */
  .md-header-nav__button.md-logo img {
      width: 153px;
      height: 24px;
      padding-top: 5px;
      padding-bottom: 4px;
  }

  /* enlarge the Delphix logo on the mobile site */
  .md-nav__title .md-nav__button.md-logo img {
      width: 153px;
      height: 15px;
  }